
.resizepanel .resizehandle{
	position: absolute;width:25px; height:4px;right:0; bottom:0; margin:0; padding:0; z-index:1; background:#666;cursor:se-resize; font-size:2px;
}

.tdleftmenus{
margin:0px;
padding:0px;
}

.tdleftmenus td{
margin:0px;
padding:0px;
}

div#menus_2 {
	width: 840px;
	height: 21px;
	margin: 4px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

div#menus_2 ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div#menus_2 ul li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	float: left;
}

div#menus_2 ul li a {
	margin: 0px 0px 0px 0px;
	padding: 4px 7px 7px 7px;
	font: bold 9px/10px 'Helvetica', 'Tahoma', 'Verdana', sans-serif; 
	letter-spacing: 1px; 
	text-transform: uppercase;
	color: #e5e1e1;
 	display: block; 
	text-decoration: none;
}

div#menus_2 ul li a:hover {
	color: #ffffff;
	text-decoration:underline;
}

div#menus_2 ul li#selected {
	margin: 0px -7px 0px -7px;
	padding: 0px 0px 0px 14px;
 }
 
div#menus_2 ul li#selected a {
	margin: 0px 0px 0px 0px;
	padding: 4px 14px 7px 0px;
	font: bold 9px/10px 'Helvetica', 'Tahoma', 'Verdana', sans-serif; 
	color: #423f3e;
 	display: block; 
	text-decoration: none;
}

div#menus_2 ul li.right {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	float: right;
 }
 
 div#template_users_menus{
	 width:100%;
	 margin-top:-10px;
	 
 }
 div#template_users_menus a{
	 font-size:13px;
	 font-weight:normal;
	 margin-top:-10px;
	 text-transform: capitalize;
	 padding:3px;
 }
  div#template_users_menus a:hover{
	text-decoration:underline;
	font-weight:bolder;
 }




#navigation {
	margin:0px;
	padding:0px;
	text-indent:0px;
	width:130px;
	color:#005447;
}
#navigation a.head {
	cursor:pointer;
	font-size:11px;
	display:block;
	font-weight:normal;
	margin-top:1px;
	padding-top:5px;
	padding-bottom:5px;
	text-indent:20px;
	text-decoration: none;
}
#navigation a.ui-state-active{
color:#005447;
}


#navigation a.head:hover {
	color:#005447;
	text-decoration:underline;
}

#navigation a.selected {
	background-image: url(expanded.gif);
	color:#005447;
}
#navigation a.current {
	background-color:#005447;

}
#navigation ul {
	border-width:0px;
	margin:0px;
	padding:0px;
	text-indent:0px;
	color:#005447;

}

#navigation li {
     font-size:11px;
	
}

#navigation ul.ui-accordion-content-active{
	border-left:1px solid black;
	border-right:1px solid black;
	background-color:#F3F3F3;
	margin-top:-1px;
}


#navigation a {
color:white;
}



#navigation li li a {
	color:#005447;
	margin-left:1px;
	padding-left:20px;
	margin-right:2px;
	text-indent:10px;
	text-transform:capitalize;
	padding:3px;
	display:block;	
	background-image:url(img/fw-vert.gif);
	background-repeat:no-repeat;
}
#navigation li li a:hover {
	background-color:#005447;
	background-image:url(img/fw-blanc.gif);

	color:white;
}


