/* The content of the posts (body of text) */
h1 {
	font-size: 1.2em;
	float: left;
}

body {
	font-size: small;
	font-family: sans-serif; 
	background-color: #e0e0e0;
	margin: 1em;
}

img {
	margin-bottom: 0em;
	text-align: center;
	clear: both;
	border: 0;
}

/* General page style */
.normal {font-size: .8em}

.right {float: right}

.left {float: left}

.center {float: center}

.gensmall{font-size:10px}

input {font-size: x-small}

a:hover,a:link,a:active,a:visited,a.postlink{text-decoration: none}
