html {
	margin: 0px 20px 0px 20px; 
	padding: 0px 0px 0px 0px; 
}

body {
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	background: #FFFFFF;
	font-size: 13px;
	font-family:'Tahoma', 'Verdana';		 
	color: #333130;
}

* {
	padding: 0px;
	margin: 0px;
}



img {
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	border: 0px; 
	vertical-align: top;
	border: none;
	
}



hr {
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	border-top: 1px dotted #999;
}

.right {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
}

.left {
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

.center {
	margin: auto;
	text-align: center;
}

em {
	font: bold 10px/12px 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
	letter-spacing: 2px; 
	text-transform: uppercase;
	color: #c90;
}


/*	Text styles */

h1 {
	margin-bottom:10px;
	background:transparent url('images/bgQuote.gif') no-repeat scroll -5px -8px;
	padding: 0px 0px 0px 0px;
	font-weight:normal;
	padding-left:35px;
	font: 24px/26px 'Helvetica', 'Tahoma', 'Verdana', sans-serif; 
	color: #4C535C;
	text-transform:capitalize;
}

.ui-dialog-content h1{
background:#FEFEFE url(images/bg-windows-35.png) no-repeat scroll 0 0;
color:white;
font-size:19px;
height:29px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-left:9px;
padding-top:5px;
}

h2 {
	margin: 15px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	font: normal 19px/21px 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
	color: #8f341b;
}

h2 a:link, h2 a:visited, h2 a:hover, h2 a:active {
	font: normal 19px/21px 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
	color: #8f341b;
}

h3 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
	font: bold 15px/18px 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
	text-transform:capitalize;
	color: #000000;
	font-weight:normal;
}


h4 {
background-color:transparent;
font-weight:normal;
margin-bottom:5px;
margin-top:0px;
color: #4C535C;
font-size:18px;
font-family:'Helvetica','Tahoma','Verdana',sans-serif;
}
h4:first-letter{
	font-size:22px;
	font-weight:normal;
	text-transform:capitalize;
	
}

h5 {
font-family:'Helvetica','Tahoma','Verdana',sans-serif;
font-size:16px;
margin-top:4px;
margin-bottom:5px;
text-transform: capitalize;
color: #000000;
font-weight:normal;
border-bottom:1px solid #000000
}

h5.noborder {
	border-bottom: none;
}

h6 {
	margin: 10px 0px 2px 0px;
	padding: 0px 0px 0px 0px;
	font: bold 13px/14px 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
	color: #000;
}

p {
	margin: 5px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}


blockquote {
	margin: 0px 0px 0px 0px;
	padding: 0px 30px 0px 30px;
}

.caption {
	margin: 0px 0px 0px 0px;
	margin-top:5px;
	margin-bottom:5px;
	padding: 0px 0px 0px 0px;
	padding: 3px;
	font-size: 11px;
	font-family: 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
	color: #736e6c;
	font-style:normal;
	background-color:#fafafa;
	border:1px solid #CCCCCC;
}
div .caption:hover{
background-color:#FFFFFF;
color: #000000;
}




.note {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font: 9px/11px 'Helvetica', 'Tahoma', 'Verdana', sans-serif;
	color: #736e6c;
	
	
}


/*	Link styles border-bottom:3px solid #8f341b;*/

a:link, a:visited {
	border-bottom:0px;
	text-decoration: none;	
	font-weight: normal;
	color: #000;
}

a:hover, a:active {
	text-decoration: none;
	
	color: #8f341b;
}

a img, a:hover img, a:active img {
	text-decoration: none;
	border:0px;
	
}

h1 a:link, h1 a:visited {
	font-weight: normal;
	color: #423f3e;
}

h1 a:hover, h1 a:active {
	font-weight: normal;
	text-decoration: none;
	color: #423f3e;
}

a.nobold {
	font-weight: normal;
}

a img {
   	border-style: none;
	text-decoration: none;
	border:0px;  
	 
}

ul {
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 5px 35px; 
	list-style-type: square;
	list-style-position: outside;
	color: #333;
}

ol {
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 15px 35px; 
	list-style-position: outside;
	color: #333;
}


li {
	margin: 0px 0px 5px 0px; 
	padding: 0px 0px 0px 0px; 
}

div.navig { 
	width:100%;
	margin-top:-10px;
	margin-left:-10px;
	padding:0px;
	}

#nav {
	margin:0;
	padding:0;
	list-style:none;
	display: inline;
	border-bottom:1px dotted #CCCCCC
}

#nav a {
	display:block;
	color:#000000;
	text-decoration:none;
	padding:5px;
	padding-top:10px;
	width:110px;
	height:10px;
	font: bold 11px/13px 'Helvetica', 'Tahoma', 'Verdana', sans-serif; 	
	border-bottom:1px dotted #CCCCCC
}


#nav a:hover {
 font-weight:bold;
 color:black;
  
}

#subnav {
	margin:0;
	padding:0;
	list-style:none;
	display: inline;
	background-color:#EAEAEA;
}

#subnav a {
	display:block;
	font-size:11px;
	color:#8A8A8A;
	padding:4px;
	padding-left:15px;
	width:auto;
	height:13px;
	text-decoration:none; 
	font: normal 10px 'Helvetica', 'Tahoma', 'Verdana', sans-serif; 
	border-bottom:1px dotted #CCCCCC;
	background-color:#F7F7F7;
}

#subnavlast a {
	display:block;
	font-size:11px;
	color:#915700;
	padding:6px;
	height:3px;
	text-decoration:none;
	border-bottom:1px dotted #999;
}

#topbar{
	position:absolute;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	width: 620px;
	visibility: hidden;
	z-index: 100;
}

.explain{
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border:1px solid #999999;
  	background-color:#FAFAFA;	
  	margin:5px;padding:5px;	
	margin-bottom:10px;
	font-size:11px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	background-image:url(/img/help_bg.png);
	background-repeat:no-repeat;
	background-position:99% 0%;
	padding-right:48px;
	min-height:50px;
	
	}
.explainNoPic{
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border:1px solid #A8A8A8;
  	background-color:#FCFCFC;
	width:97%;	
  	margin:2px;padding:4px;	
	margin-bottom:10px;
	font-size:11px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	min-height:50px;
	
	}

.unityDiv {
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border:2px solid #999999;	
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	margin:2px;padding:4px;	
    opacity: 0.8;
    background: #000000; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#605D5D', endColorstr='#000000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#605D5D)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #605D5D,  #000); /* for firefox 3.6+ */
}

.unityDivForm{
	-moz-border-radius: 5px;
  	border-radius: 5px;	
	background-color:#605D5D;
	border-color:white;
	border:2px solid;
	color:white;
	width:auto;
	font-size:16px;
	padding:5px;
}

.unityPar{
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border:2px solid white;
  	color:white;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin:2px;padding:4px;	
    opacity: 0.9;
    background: #000000; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727', endColorstr='#000000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#272727)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #272727,  #000); /* for firefox 3.6+ */
    min-height:75px;
}

.unityParOver{
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border:2px solid white;
  	color:black;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin:2px;padding:4px;	
	opacity: 0.9;
	background-color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F1F1', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F1F1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F4F1F1,  #FFFFFF); /* for firefox 3.6+ */
	min-height:75px;
}

INPUT:hover .unityDivForm  {
    border: 2px solid white;
}
.unityDivForm INPUT:hover{
    border: 2px solid white;
}
.unityDivForm:hover{
    border: 2px solid white;
}