/* TABS */
#tablist{
border-bottom:1px solid #DEDEDE;
font-family:tahoma;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin-left:0px;
padding:3px 0px;
}

#tablist li {
background-image:none;
display:inline;
list-style-type:none;
margin:0px;
padding:0px;
}
#tablist li a {
background:#F0F0F0 none repeat scroll 0%;
border:1px solid #DEDEDE;
margin-left:3px;
padding:3px 0.5em;
text-decoration:none;
}
#tablist li a:link {
color:#444488;
}
#tablist li a:visited {
color:#666677;
}
#tablist li a:hover {
background:#FFFFFF none repeat scroll 0%;
border-color:#DEDEDE;
color:#000000;
}
#tablist li a#tab_current {
background:white none repeat scroll 0%;
border-bottom:1px solid white;
}
