<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{TEMPLATE_TITLE_HEAD}</title>
	<!-- default template  -->
	<meta name='keywords' content=''>
	<meta name='description' content="">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<link href='/css/styles_main.css'    rel="styleSheet"  type='text/css' />
	<link href='/css/styles_header.css'  rel="styleSheet"  type='text/css' />
	<link href='/css/styles_middle.css'  rel="styleSheet"  type='text/css' />
	<link href='/css/styles_tables.css'  rel="styleSheet"  type='text/css' />
	<link href="/css/styles_rounded.css" rel="stylesheet"  type="text/css" />
	<!--[if lt IE 7]>
	<link rel='stylesheet' type='text/css' href='css/styles_ie.css' />
	<![endif]-->
	<!--[if IE 7]>
	<link rel='stylesheet' type='text/css' href='css/styles_ie7.css' />
	<![endif]-->
	{TEMPLATE_HEAD}
</head>
<body>
<center>
<div style="width:900px;background-image:url(/css/images/bg_header.gif);background-repeat:repeat-x;background-position:center top;margin:0px;padding:0px;">

	<table style="width:100%;margin:0px;padding:0px;border:0px;">
		<tr>
		    <td valign="top" style='padding:0px;margin:0px;border:0px;padding-top:24px'>
			<div style="height:72px">
				<table style="padding:0px;margin:0px;border:0px;margin-left:-6px;">
				<tr>
			   		<td style='padding:0px;border:0px;' valign="top" align="left">
						
							<table style="margin:0px;border:0px;padding:0px;">
							<tr>
			 				<td style="margin:0px;padding:0px;background-color:#005447" width="160px">
								<img src='/css/images/logo-kav.gif' style="margin:0px;padding:0px;">
							</td>
							<td style="margin:0px;padding:0px;" valign="middle">
								<div style="margin-top:-7px;padding-left:5px">{TEMPLATE_SEARCH} </div>
							</td>
							<td style="margin:0px;padding:0px;border:0px solid black" valign="middle" align='right' width=50%>
								{TEMPLATE_HIGH_MENUS}
							</td>
							</tr>
							</table>
						
					  </td>
				</tr>
				<tr>
				  <td style='height:25px'>
					<div id='menus_2' style='width:875px'><ul>{TEMPLATE_TOP_MENUS}</ul></div id='menus_2'>
				 </td>
				</tr>
				</table>
		</div>
		     </td>
		  
			
		 
	    	</tr>
		<tr>
		<td valign="top" colspan=2 style="margin:0px;padding:0px;padding-top:4px;background-color:white;">	
<div id='middle'>
	<div id='content' style='background-color:white;padding:0px;margin:0px'>
		<table style='width:100%'>
			<tr>
				<td valign='top' style='padding:0px;margin:0px;width:150px' class=tdleftmenus id='id-tdleftmenus'>
					{TEMPLATE_LEFT_MENUS}
				</td>
				<td valign='top' style='padding-left:3px'>
					<div id='template_users_menus'>{TEMPLATE_USER_MENUS_H}</div>
					<div id='BodyContentTabs'></div>
						<div id='BodyContent' style='margin-top:8px'>
							<h1 id='template_title'>{TEMPLATE_TITLE}</h1>
							<!-- content -->
							{TEMPLATE_CONTENT}
							<!-- content end -->
						</div>

				</td>
				<td valign='top'><div id='TEMPLATE_RIGHT_MENUS'>{TEMPLATE_RIGHT_MENUS}</div></td>
			</tr>	
	</table>	

	<div class='clearleft'></div>
	<div class='clearright'></div>
	</div id='content'>
</div id='middle'>

</td>
</tr>
<tr>
<td valign='top' align=left colspan=2 >
<div style='background-color:#736e6c;font-size:13px;color:white;height:25px;padding:0px;margin:0px;padding-top:5px;width:900px;text-align:center;margin-left:-5px;margin-bottom:-3px'>
<strong>Artica Copyright 2006-2010</strong>
</div>
</td>
</tr>
</table>
</div>
</center>

{TEMPLATE_BODY_YAHOO} 
<!-- USED FOR the AJAX animation -->
<input type='hidden' id='LoadAjaxPicture' value='ressources/templates/Kav4Proxy/img/ajax-loader.gif'>
</body>
</html>



