<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv='content-type' content='text/html; charset=utf-8' />
	<title>{TEMPLATE_TITLE}</title>
	{TEMPLATE_HEAD}
</head>
<body>
	

	<div style='position:absolute;top:0px;left:0px;width:80%;text-align:left;'>
			<img src='img/bg-top.jpg' align='left'> 
		<div style='position:absolute;top:40px;left:150Px;color:white;;width:90%'>
				<H1 style='color:white;width:100%;font-family:Arial;font-size:200%;margin-bottom:0px;letter-spacing:3px;'>Artica-Postfix</H1>
				<div style='color:white;width:100%;text-align:right;'><i>Global Management system for OpenSource/Kaspersky Security Mail exchange</i></div>
				
		</div>
		
		</div>
<table width=750px align=center>
	<tr>
		
		<td align='center'>
			
                          
            <div id=ContentRounded>

<div id="header">
<H1 style='float:left;margin:0px;padding:0px;margin-left:15px;margin-top:5px;width:240px'>{TEMPLATE_TITLE}</H1>
  {TEMPLATE_TOP_MENUS}
</div>



<img class="itl" src="img/tl.gif" />
<img class="itr" src="img/tr.gif" />
<img class="ibl" src="img/bl.gif" />
<img class="ibr" src="img/br.gif" />
	<div id=content>
		{TEMPLATE_CONTENT}
	</div>
</div>				
								 
						
						
			
		</td>
	</tr>
</table>
	     	
            	
</body>
</html>


