/***
*	simplegrey style
*/
.dhtmlxcalendar_simplegrey {
	background: url(imgs/__dhxCal_skin_SimpleGrey/cal_bg_single.png) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:174px;
	width:160px;
	padding:16px;
}
.dhtmlxcalendar_simplegrey .entbox{
	width:161px;
	height:174px;
}

.dhtmlxcalendar_simplegrey td {
	font-size: 10px;
	font-family: Tahoma;
	text-align:center;
}

.dhtmlxcalendar_simplegrey .dxcalmonth{

}

.dhtmlxcalendar_simplegrey .dxcalmonth td{
  	font-weight:bold;	
	font-size: 12px;
}

.dhtmlxcalendar_simplegrey .dxcalmonth .planeYear{
	margin-left:4px;
}


.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleGrey/bwd_arrow.png) center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}
.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleGrey/fwd_arrow.png) center center no-repeat;
}

.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_simplegrey .dxcaldlabel {
  	margin-top: 10px;
	border-bottom: 1px solid #7e7e7e;
	color:#7e7e7e;
}
.dhtmlxcalendar_simplegrey .dxcaldlabel td,
.dhtmlxcalendar_simplegrey .dxcaldays td,
.dhtmlxcalendar_simplegrey .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight:normal;		
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 21px;
	color: #7e7e7e;
}

.dhtmlxcalendar_simplegrey .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_simplegrey .dxcaldlabel td{
	color: black;
}

.dhtmlxcalendar_simplegrey .dxcaldays td,
.dhtmlxcalendar_simplegrey .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_simplegrey .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_simplegrey td.comma{
	visibility:visible;
}
.dhtmlxcalendar_simplegrey div.planeMonth,
.dhtmlxcalendar_simplegrey div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_simplegrey div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_simplegrey td.thismonth{
	color:black;
	padding:1px;
	width: 24px;
	height: 21px	
}

.dhtmlxcalendar_simplegrey td.othermonth{
	visibility: visible;
}

.dhtmlxcalendar_simplegrey td.weekend{
	color:black;
	padding:1px;
}

.dhtmlxcalendar_simplegrey td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_simplegrey td.selected{
	background: url(imgs/__dhxCal_skin_SimpleGrey/cell_select.png) center center no-repeat;
	color:black !important;
}


.dhtmlxcalendar_simplegrey td.current{
	color:black;
	font-weight:bold !important

}

.dhtmlxcalendar_simplegrey td.hover{
	border:1px solid #b5b5b5;
	color: #ffff;
	padding:0px;
}

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_simplegrey textarea.dhtmlxRichSelector,
.dhtmlxcalendar_simplegrey select.dhtmlxRichSelector {
	font-family: Arial;
	font-size: 10pt;
	overflow: hidden;
}
.dhtmlxcalendar_simplegrey select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd;
}
/* end: dhtmlxRichSelector */
/* end: simplegrey */

/* =============================================================================*/


/***
*	simpleblue style
*/
.dhtmlxcalendar_simpleblue {
	background: url(imgs/__dhxCal_skin_SimpleBlue/cal_bg_single.png) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:174px;
	width:160px;
	padding:16px;
}
.dhtmlxcalendar_simpleblue .entbox{
	width:161px;
	height:174px;
}

.dhtmlxcalendar_simpleblue td {
	font-size: 10px;
	font-family: Tahoma;
	
	text-align:center;
}

.dhtmlxcalendar_simpleblue .dxcalmonth{

}

.dhtmlxcalendar_simpleblue .dxcalmonth td{
	font-size: 12px;
	font-weight:bold;		
}

.dhtmlxcalendar_simpleblue .dxcalmonth .planeYear{
	margin-left:4px;
}


.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleBlue/bwd_arrow.png) center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}
.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleBlue/fwd_arrow.png) center center no-repeat;
}

.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_simpleblue .dxcaldlabel {
	border-bottom: 1px solid #7e7e7e;
  	margin-top: 10px;	
	color:#7e7e7e;
}
.dhtmlxcalendar_simpleblue .dxcaldlabel td,
.dhtmlxcalendar_simpleblue .dxcaldays td,
.dhtmlxcalendar_simpleblue .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight:normal;	
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 21px;
	color: #7e7e7e;
}

.dhtmlxcalendar_simpleblue .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_simpleblue .dxcaldlabel td{
	color: black;
}

.dhtmlxcalendar_simpleblue .dxcaldays td,
.dhtmlxcalendar_simpleblue .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_simpleblue .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_simpleblue td.comma{
	visibility:visible;
}
.dhtmlxcalendar_simpleblue div.planeMonth,
.dhtmlxcalendar_simpleblue div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_simpleblue div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_simpleblue td.thismonth{
	color:black;
	padding:1px;
	width: 24px;
	height: 21px	
}

.dhtmlxcalendar_simpleblue td.othermonth{
	visibility: visible;
}

.dhtmlxcalendar_simpleblue td.weekend{
	color:black;
	padding:1px;
}

.dhtmlxcalendar_simpleblue td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_simpleblue td.selected{
	background-color: #6fdcfa;
	color:black !important;
}


.dhtmlxcalendar_simpleblue td.current{
  	color:black;
	font-weight:bold !important
}

.dhtmlxcalendar_simpleblue td.hover{
	border:1px solid #6fdcfa;
	color: #ffff;
	padding:0px;
}
/* end: simpleblue */



/*===================================================================================================*/

/***
*	vista style
*/
.dhtmlxcalendar_vista {
	background: url(imgs/__dhxCal_skin_Vista/cal_bg_single.png) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:174px;
	width:178px;
	padding:16px;
}
.dhtmlxcalendar_vista .entbox{
	height:174px;
	width:161px;
}

.dhtmlxcalendar_vista td {
	font-size: 10px;
	font-family: Tahoma;
	text-align:center;
}

.dhtmlxcalendar_vista .dxcalmonth{
	color:#018ad1;
}

.dhtmlxcalendar_vista .dxcalmonth td{
	font-size: 12px;
	font-weight:bold;		
}

.dhtmlxcalendar_vista .dxcalmonth .planeYear{
	margin-left:4px;
}


.dhtmlxcalendar_vista .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_Vista/bwd_arrow.png) center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}
.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_Vista/fwd_arrow.png) center center no-repeat;
}

.dhtmlxcalendar_vista .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_vista .dxcaldlabel {
	border-bottom: 1px solid #7e7e7e;
	color:#7e7e7e;
  	margin-top: 10px;	
}
.dhtmlxcalendar_vista .dxcaldlabel td,
.dhtmlxcalendar_vista .dxcaldays td,
.dhtmlxcalendar_vista .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight:normal;	
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 21px;
	color: #7e7e7e;
}

.dhtmlxcalendar_vista .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_vista .dxcaldlabel td{
	color: black;
}

.dhtmlxcalendar_vista .dxcaldays td,
.dhtmlxcalendar_vista .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_vista .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_vista td.comma{
	visibility:visible;
}
.dhtmlxcalendar_vista div.planeMonth,
.dhtmlxcalendar_vista div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_vista div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_vista td.thismonth{
	color:black;
	padding:1px;
	width: 24px;
	height: 21px	
}

.dhtmlxcalendar_vista td.othermonth{
	visibility: visible;
}

.dhtmlxcalendar_vista td.weekend{
	color:black;
	padding:1px;
}

.dhtmlxcalendar_vista td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_vista td.selected{
	background: url(imgs/__dhxCal_skin_Vista/cell_select.png) center center no-repeat;
	color:black !important;
}


.dhtmlxcalendar_vista td.current{
	color:black;
	font-weight:bold  !important;
}

.dhtmlxcalendar_vista td.hover{
	background: url(imgs/__dhxCal_skin_Vista/cell_hover.png) center center no-repeat;
	color: #ffff;
	padding:0px;
}

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_vista textarea.dhtmlxRichSelector,
.dhtmlxcalendar_vista select.dhtmlxRichSelector {
	font-family: Arial;
	font-size: 10pt;
	overflow: hidden;
}
.dhtmlxcalendar_vista select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd;
}
/* end: dhtmlxRichSelector */
/* end: vista */


/* =============================================================================*/

/***
*	simplecolordark style
*/
.dhtmlxcalendar_simplecolordark {
	background: url(imgs/__dhxCal_skin_SimpleColorDark/cal_bg_single.png) repeat-x;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:164px;
	width:160px;
	padding:10px;
}
.dhtmlxcalendar_simplecolordark .entbox{
	width:161px;
	height:164px;
}

.dhtmlxcalendar_simplecolordark td {
	font-size: 10px;
	font-family: Tahoma;
	font-weight:bold;	
	text-align:center;
}

.dhtmlxcalendar_simplecolordark .dxcalmonth{

}

.dhtmlxcalendar_simplecolordark .dxcalmonth td{
	font-size: 12px;
	color:#b2b405;
}


.dhtmlxcalendar_simplecolordark .dxcalmonth .planeYear{
	margin-left:4px;
}


.dhtmlxcalendar_simplecolordark .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_simplecolordark .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleColorDark/bwd_arrow.png) center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}
.dhtmlxcalendar_simplecolordark .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleColorDark/fwd_arrow.png) center center no-repeat;
}

.dhtmlxcalendar_simplecolordark .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_simplecolordark .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_simplecolordark .dxcaldlabel {
  	margin-top: 10px;  
	border-bottom: 1px solid #7e7e7e;
	color:#7e7e7e;
}
.dhtmlxcalendar_simplecolordark .dxcaldlabel td,
.dhtmlxcalendar_simplecolordark .dxcaldays td,
.dhtmlxcalendar_simplecolordark .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight:normal;	
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 21px;
	color: #7e7e7e;
}

.dhtmlxcalendar_simplecolordark .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_simplecolordark .dxcaldlabel td{
	color: #a5a5a5;
}

.dhtmlxcalendar_simplecolordark .dxcaldays td,
.dhtmlxcalendar_simplecolordark .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_simplecolordark .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_simplecolordark td.comma{
	visibility:visible;
}
.dhtmlxcalendar_simplecolordark div.planeMonth,
.dhtmlxcalendar_simplecolordark div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_simplecolordark div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_simplecolordark td.thismonth{
	color:#717171;
	padding:1px;
	width: 24px;
	height: 21px	
}

.dhtmlxcalendar_simplecolordark td.othermonth{
	visibility: visible;
	color:#3b3b3b;
}

.dhtmlxcalendar_simplecolordark td.weekend{
	color:#717171;
	padding:1px;
}

.dhtmlxcalendar_simplecolordark td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_simplecolordark td.selected{
	background-color: #404040;
	color:white !important;
}


.dhtmlxcalendar_simplecolordark td.current{
  	color:#717171;
	font-weight:bold !important
}

.dhtmlxcalendar_simplecolordark td.hover{
  	border: 1px solid white;

	padding:0px;

}
/* end: simplecolordark */



/* =============================================================================*/

/***
*	simplecolor sand style
*/
.dhtmlxcalendar_simplecolorsand {
	background: url(imgs/__dhxCal_skin_SimpleColorSand/cal_bg_single.png) repeat-x;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:164px;
	width:160px;
	padding:10px;
}
.dhtmlxcalendar_simplecolorsand .entbox{
	width:161px;
	height:164px;
}

.dhtmlxcalendar_simplecolorsand td {
	font-size: 10px;
	font-family: Tahoma;
	font-weight:bold;
	text-align:center;
	
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth .planeYear{
	margin-left:4px;
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth td{
	font-size: 12px;
	color:#575757;	
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleColorSand/bwd_arrow.png) center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}
.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_SimpleColorSand/fwd_arrow.png) center center no-repeat;
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_simplecolorsand .dxcaldlabel {
  	margin-top: 10px;  
	border-bottom: 1px solid #7e7e7e;
	color:#717171;
}
.dhtmlxcalendar_simplecolorsand .dxcaldlabel td,
.dhtmlxcalendar_simplecolorsand .dxcaldays td,
.dhtmlxcalendar_simplecolorsand .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight: normal;	
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 21px;
	color: #7e7e7e;
}

.dhtmlxcalendar_simplecolorsand .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_simplecolorsand .dxcaldlabel td{
	color: #3b3b3b;
}

.dhtmlxcalendar_simplecolorsand .dxcaldays td,
.dhtmlxcalendar_simplecolorsand .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_simplecolorsand .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_simplecolorsand td.comma{
	visibility:visible;
}
.dhtmlxcalendar_simplecolorsand div.planeMonth,
.dhtmlxcalendar_simplecolorsand div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_simplecolorsand div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_simplecolorsand td.thismonth{
	color:#3b3b3b;
	padding:1px;
	width: 24px;
	height: 21px	
}

.dhtmlxcalendar_simplecolorsand td.othermonth{
	visibility: visible;
	color:#a5a5a5;
}

.dhtmlxcalendar_simplecolorsand td.weekend{
	color:#3b3b3b;
	padding:1px;
}

.dhtmlxcalendar_simplecolorsand td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_simplecolorsand td.selected{
  	background-color: #f5c453;
	color:black !important;
}


.dhtmlxcalendar_simplecolorsand td.current{
  	color:#3b3b3b;
	font-weight:bold !important
}

.dhtmlxcalendar_simplecolorsand td.hover{
  	border: 1px solid #f5c453;
	padding:0px;
}
/* end: simplecolorsand */

/*===================================================================================================*/

/*Classic*/

.dhtmlxcalendar_classic {
	background: url(!important);
	border: 1px solid gray;
	font-family: Arial;
	z-index:99;
	height:auto;
	width:145px;
	padding:5 10 5 10;
}
.dhtmlxcalendar_classic .entbox{
	width:145px;
}

.dhtmlxcalendar_classic td {
	font-size: 11px;
	font-family: Tahoma;
	text-align:center;
	font-weight: bold;	
}

.dhtmlxcalendar_classic .dxcalmonth div.planeYear{
	margin-left:4px;
	
}

.dhtmlxcalendar_classic .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_classic .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/cal_arrow_bwd.gif) center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}
.dhtmlxcalendar_classic .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/cal_arrow_fwd.gif) center center no-repeat;
}

.dhtmlxcalendar_classic .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_classic .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_classic .dxcaldlabel {
	border-bottom: 0px solid #7e7e7e;
	color:#7e7e7e;
	background-color: #eeeeee;
	margin-top: 5px;
}
.dhtmlxcalendar_classic .dxcaldlabel td,
.dhtmlxcalendar_classic .dxcaldays td,
.dhtmlxcalendar_classic .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight: normal;	
	text-align: left;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	color: black;
}

.dhtmlxcalendar_classic .dxcaldlabel{

  	border-top: 1px solid #7e7e7e;
}
.dhtmlxcalendar_classic .dxcaldays td,
.dhtmlxcalendar_classic .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_classic .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_classic td.comma{
	visibility:visible;
}
.dhtmlxcalendar_classic div.planeMonth,
.dhtmlxcalendar_classic div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_classic div.planeYear{
	display:inline;
	width:28px;
}

/* begin: days colors */
.dhtmlxcalendar_classic td.thismonth{
    border-top: 1px solid #7e7e7e;
	color:#0052ab;
	text-decoration:underline;
	padding:1px;
}

.dhtmlxcalendar_classic td.othermonth{
   	border-top: 1px solid #7e7e7e;
	visibility:visible;
	color:#0052ab;
}

.dhtmlxcalendar_classic td.weekend{
  	border-top: 1px solid #7e7e7e;  
	color:#0052ab;
	text-decoration:underline;
	padding:1px;
}

.dhtmlxcalendar_classic td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_classic td.selected{
  	border-top: 1px solid #7e7e7e;
  	background-color: #f5c453;
	color:#0052ab !important;
}


.dhtmlxcalendar_classic td.current{
  	border-top: 1px solid #7e7e7e;
  	color:#0052ab;
	font-weight:bold !important
}

.dhtmlxcalendar_classic td.hover{
  	border: 1px solid #f5c453;
	padding:0px;
}

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_classic div.dhtmlxRichSelector {
	position: absolute;
	background-color:#ffff;
	display: block;

}
.dhtmlxcalendar_classic textarea.dhtmlxRichSelector,
.dhtmlxcalendar_classic select.dhtmlxRichSelector {
	font-family: verdana;
	position: absolute;
	font-size: 9px;
	overflow: hidden;
	border-width: 0px;
	z-index:100;

}
.dhtmlxcalendar_classic select.dhtmlxRichSelector {
	border: 1px solid #5555;
}
/* end: dhtmlxRichSelector */
/* end: classic style*/
/*======================================================================================*/